 <div class="container">
        <div class="row">
          <div class="col-md-3" ng-repeat="d in data" ng-model="indexed($index)">
            <div class="thumbnail">
              <img src="{{d.poster}}" alt="{{d.show_title}}">
              <div class="caption">
                <p>Title : {{d.show_title}}</p>
                <p>Director : <a ng-click="toGo(d.director)">{{d.director}}</a></p>
                <p>Cast : <a ng-repeat="f in arrayResult" ng-click="toGoActor(f)">{{f+" "}}</a></p>
               
              </div>
                 <a ng-click="back()" class="btn btn-primary" role="button">Back</a>
            </div>
          </div>
        </div>
     <p class="heading">{{error.data.errorcode }}</p>
     <p class="heading2">{{error.data.message}}</p>
    </div>